<%- include('../includes/mainheader.ejs') %>
<%- include('../includes/nav.ejs') %>
      <div class="container">
        <div class="left">
          <img src="images/banner.png" />
        </div>
        <div class="right">
          <p>Wanna be</p>
          <h1>Ripped</h1>
          <p>
            Be a part of our gym.It's where confidence grows. It's where greatness lives. It's where 
            legacies are built and they are built every single day.
          </p>
          <a href="/register"><button class="btn">Join us</button></a>
        </div>
      </div>
    </header>
    <section id="about">
      <div class="about-row">
        <div class="about-left-col">
          <h1>About <span id="blue">me</span></h1>
          <p>
            With plenty of cardio machines, weight machines and free weights,
             Fit4Less East York Town Centre is designed to give you everything you
              need to achieve your goals. We believe a gym membership should fit your needs, 
              not the other way around.
          </p>
        </div>
        <div class="about-right-col">
          <img src="images/img1.jpg" />
        </div>
      </div>
    </section>
    <section id="signup">
      <div class="signup-row">
        <div class="signup-left-col">
          <img src="images/img2.png" />
        </div>
        <div class="signup-right-col">
          <h1>BEING <span id="blue">BODY</span></h1>
          <h2>BUILDER</h2>
        </div>
      </div>
    </section>
    <section id="services">
      <div class="services-info">
        <h1>Our <span id="blue">Services</span></h1>
      </div>
      <div class="services-row">
        <div class="services-box">
          <i class="fa fa-wifi" aria-hidden="true"></i>
          <h2>Wifi</h2>
          <p>We provide free Wifi to all our customers to keep them track them on track on their day to day life.</p>
        </div>

        <div class="services-box">
          <i class="fa fa-shower" aria-hidden="true"></i>
          <h2>Shower</h2>
          <p>Stay fresh after a good day of workout.</p>
        </div>

        <div class="services-box">
          <i class="fa fa-eye" aria-hidden="true"></i>
          <h2>24/7 Surveillance</h2>
          <p>Our security provides 24/7 surveillance at our facility so that our client feel safe.</p>
        </div>

        <div class="services-box">
          <i class="fa fa-child" aria-hidden="true"></i>
          <h2>Child care</h2>
          <p>We Provide free child care services to our customers as we understand working out with your children can be hard..</p>
        </div>

        <div class="services-box">
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          <h2>Cafe</h2>
          <p>We provide healthy snacks and drinks so our clients stay energetic through out their workout.</p>
        </div>

        <div class="services-box">
          <i class="fa fa-user" aria-hidden="true"></i>
          <h2>Trainers</h2>
          <p>Our gym trainer are world class trainers so they can guide you throughout your worlout.</p>
        </div>

        
      </div>
    </section>

    <section id="members">
      <div class="services-info">
        <h1>Our <span id="blue">Members</span></h1>
      </div>

      <div class="member-card">
        <img src="images/member.png" />
        <p>
          Arnold gym is best gym in town for their service and hospitality. Especially during the corona time. 
          I really like that fact that we have to book an appointment before entering the gym. 
        </p>
        <h2>Maria Sharapova</h2>

        <ul class="socialMedia" type="none">
          <li><a target="_blank" href="https://www.instagram.com/"> <i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a target="_blank" href="https://www.facebook.com/"> <i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a target="_blank" href="https://www.linkedin.com/"> <i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
          <li><a target="_blank" href="https://www.twitter.com/"> <i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      </ul>
      </div>
    </section>

    <section id="work">
      <div class="services-info">
        <h1>Our <span id="blue">Works</span></h1>
      </div>
      <div class="services-row">
        <div class="work-box">
          <img src="images/ex1.jpg" />
        </div>
        <div class="work-box">
          <img src="images/ex2.jpg" />
        </div>
        <div class="work-box">
          <img src="images/ex3.jpg" />
        </div>
        <div class="work-box">
          <img src="images/ex4.jpg" />
        </div>
        <div class="work-box">
          <img src="images/ex5.jpg" />
        </div>
        <div class="work-box">
          <img src="images/ex6.jpg" />
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="services-info">
        <h1>Get in<span id="blue">Touch</span></h1>
        <p>We are Available</p>
      </div>

      <div class="contact-row">
        <div class="contact-left-col">
         <img src="images/map.jpg"/>
        </div>
        <div class="contact-right-col">
          <h1><i class="fa fa-envelope-o" aria-hidden="true"></i> E-mail</h1>
          <p>ArnoldGym@gmail.com</p>
          <br />
          <h1><i class="fa fa-phone" aria-hidden="true"></i> Mobile</h1>
          <p>+1-4372280102, +1-4372280203</p>
          <br />
          <h1>
            <i class="fa fa-location-arrow" aria-hidden="true"></i> Address
          </h1>
          <p>
            Near Shoppers drug mart<br />
            1035, Eglinton Avenue, Toronto, M14 1W6
          </p>
        </div>
      </div>
    </section>

   
    <%- include('../includes/footer.ejs') %>